@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto:400,700&display=swap');

:root {
	--font-body: 'Roboto', sans-serif;
	--font-heading: 'Permanent Marker', cursive;
}

body {
	font: 400 0.9rem/1.2 var(--font-body);
	background: #fff;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-heading);
}

.button {
	margin: 0.5rem;
	padding: 0.5rem;

	font-family: var(--font-body);

	background: transparent;
	border: 2px solid #f00;

	&:hover {
		color: #fff;
		background: #f00;
	}
}

.video-container {
	height: 0px;
	overflow: hidden;
}